<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Release note {{.Project.name}} - v{{.Project.version}}</title>
    <style type="text/css">{{.Styles.dataTables}}</style>
    <style type='text/css'>{{.Styles.semanticFonts}}</style>
    <style type="text/css">{{.Styles.semantic}}</style>
    <style type='text/css'>{{.Styles.core}}</style>
</head>
<body>
<header class="bold underline center main-title panel panel-default">
    Release note for {{.Project.name}} - v{{.Project.version}}
</header>
<!-- author words -->
<div id="author-words" class="ui info message">
    <i class="close icon">&times;</i>
    <div class="header">
        The {{.Project.team}} team is proud to present it's <span>{{.Project.version}}</span> release of
        the {{.Project.name}} app.
    </div>
    {{if .AuthorWords}}
        Here is what the team has to say:
        <blockquote>
            {{.AuthorWords}}
        </blockquote>
    {{end}}
</div>
<!-- Statistics -->
<article id="release-stats" class="ui info message collapsed">
    <i class="close icon">&times;</i>
    <header class="bold underline title" onclick="app.togglePanel('#release-stats')">
        <i class="indicator"></i>Statistics about this release:
    </header>
    <section class="ui grid">
        <div class="graph-container twelve wide column">
            <h5>Commits</h5>
            <canvas id="release-graph-categories" width="200" height="200" class="graph"
                    style="max-width: 300px; display: inline-block;"></canvas>
            <canvas id="release-graph-committers" width="200" height="200" class="graph"
                    style="max-width: 300px; display: inline-block;"></canvas>
        </div>
        <div class="four wide column">
            <div class="row">
                <h5>Team</h5>
                <ul>{{range .Stats.Committers}}
                        <li>{{.Name}}</li>
                    {{end}}</ul>
            </div>
            <div class="row">
                <h5>Raw Numbers</h5>
                <table class="compact">
                    <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Number of commits</th>
                        <td>{{.Stats.NumCommits}}</td>
                    </tr>
                    <tr>
                        <th>Overall progress</th>
                        <td>{{.Stats.NumFeatures}} ({{.Stats.NumDefectsFixed}} defects fixed)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</article>
<!-- Table -->
<article>
    <table id="release-note-table" class="blue display" style="width:100%">
        <thead>
        <tr>
            <th>Hash</th>
            <th>Date</th>
            <th>Category</th>
            <th>LinkedEntityId</th>
            <th>Author</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {{range .Commits}}
            <tr>
                <td>{{.Hash}}</td>
                <td>{{.FormattedDate}}</td>
                <td>{{.Category}}</td>
                <td>{{.LinkedEntityId}}</td>
                <td>{{.Author}}</td>
                <td>{{replace "\n" "<br>" .Message}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
</article>
<script type="text/javascript">{{.Scripts.jquery}}</script>
<script type="text/javascript">{{.Scripts.dataTables}}</script>
<script type="text/javascript">{{.Scripts.chart}}</script>
<script type="text/javascript">{{.Scripts.semantic}}</script>
<script>{{.Scripts.core}}</script>
<!-- initialize release note table -->
<script type="text/javascript">
    $('#release-note-table').DataTable({
        "order": [[1, "desc"]]
    });
</script>
<!-- close dismissable dialogs -->
<script type="text/javascript">
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
</script>
<!-- initialize release stats graph -->
<script>
    var app = new App();
    var styles = {
        categories: {
            background: [
                {{range .Stats.Categories}} "{{.Style.Background}}", {{end}}
            ],
            border: [
                {{range .Stats.Categories}} "{{.Style.Border}}", {{end}}
            ]
        },
        committers: {
            background: [
                {{range .Stats.Committers}} "{{.Style.Background}}", {{end}}
            ],
            border: [
                {{range .Stats.Committers}} "{{.Style.Border}}", {{end}}
            ]
        }
    };
    app.createGraph('bar', 'committers', {
        labels: [{{range .Stats.Committers}} "{{.Name}}", {{end}}],
        datasets: [{
            label: '# of Commits',
            data: [{{range .Stats.Committers}} "{{.Value}}", {{end}}],
            backgroundColor: styles.committers.background,
            borderColor: styles.committers.border,
            borderWidth: 1
        }]
    });
    app.createGraph('doughnut', 'categories', {
        labels: [
            {{range .Stats.Categories}} "{{.Name}}", {{end}}
        ],
        datasets: [{
            data: [{{range .Stats.Categories}} "{{.Value}}", {{end}}],
            backgroundColor: styles.categories.background,
            borderColor: styles.categories.border,
            borderWidth: 1
        }],
    });
</script>
</body>
</html>