/* General layout */
body {
    margin-left: 20vw;
    margin-right: 20vw;
}

/* Commit table layout */
table.blue tr > th {
    background: navy;
    color: aliceblue;
    border: 1px solid black;
}

table.blue tr > td {
    background: white;
    color: navy;
}

table.blue th:hover {
    cursor: ns-resize;
}

/* Raw project numbers layout */
table.compact {
    font-size: 0.8rem;
}

table.compact thead {
    opacity: 0;
}

table.compact tbody {
    padding: 0;
    margin: 0;
}

table.compact tr {
    border: 0px;
}

/* General styling */
.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    color: navy;
    width: 100%;
}

.popout {
}

/* Main title layout layout */
.main-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: navy;
    color: white;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}

#author-words {
    margin-top: 1.5rem;
}

article {
    margin-top: 2.5rem;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
}

h1 {
    font-size: 2.3rem;
    color: navy;
}

header, h2 {
    font-size: 1.5rem;
    text-decoration: underline;
}

/* Collapsable panel layout */
.collapsed *:not(header):not(.indicator):not(.close), .collapsed .ui.grid {
    display: none;
}

.indicator {
    display: inline-block;
    float: left;
    top: -0.5rem;
    position: relative;
}

.indicator:after {
    content: '-';
    font-size: 3rem;
    font-weight: bold;
    border-radius: 50%;
    background: navy;
    color: white;
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
    min-height: 32px;
    display: inline-block;
    padding: 4px;
    margin: 4px;
    text-align: center;
}

.collapsed .indicator:after {
    content: '+';
    font-size: 3rem;
    font-weight: bold;
    border-radius: 50%;
    background: navy;
    color: white;
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
    min-height: 32px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin: 4px;
}

.ui.grid {
    margin-top: 0;
    padding-top: 0;
}

.panel {
    padding: 10px;
    border-radius: 15px;
}

.panel-default {
    border: 1px solid rgba(1, 1, 1, 1);
}

.panel-info {
    border: 1px solid navy;
    background: rgba(247, 254, 255, 0.6);
}

.panel-warning {
    border: 1px solid navy;
    background: rgba(255, 243, 0, 0.12);
    color: rgb(56, 36, 7);
    font-weight: bold;
}

.panel-success {
    border: 1px solid darkgreen;
    background: rgba(112, 252, 60, 0.12);
    color: rgb(0, 71, 6);
    font-weight: bold;
}

#release-stats .indicator {
    cursor: grab;
}

.graph-container {
}

.graph {
}